
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    


  <ng-template #userNotLoggedIn>
   
      <a id="signUp" (click)="openDialog('signUpId')" >SignUp</a>
      <a id="signIn" (click)="openDialog('signInId')">SignIn</a>
   
  </ng-template>
  
 
<ng-template #userLoggedIn>{{currentUserName}}
 
  <a id="logout" href="javascript:void(0)" (click)="logOut()">Logout</a>
</ng-template>

  <div  class="pass">
    <div *ngIf="customerUserName!=null || customerUserName!='null'    then userLoggedIn ;else userNotLoggedIn"> 
   
       </div>
   
  </div>





<!-- The form -->

  <form class="example"   (ngSubmit)="searchProduct(regForm)" style="margin:auto;max-width:600px">
    <input type="text" placeholder="Search.."  [formControl]="search"  [matAutocomplete]="auto"  autocomplete="off" size="50" >
    <button type="submit" >Search</button>
  </form>

  
  <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngIf="testFlag" ><mat-spinner diameter="20"></ mat-spinner></mat-option>
      <ng-container *ngIf="!testFlag">
      <mat-option   *ngFor="let productSearch of prodSearchDropItems" >
          <div *ngIf="prodSearchDropItems!=null">
              <a [routerLink]="['/single-product-view/cat/',productSearch.catId,'sub',productSearch.subId,'pc',productSearch.code,'avail',productSearch.selectedProductAvail.id]">{{productSearch.name}}-{{productSearch.brand}}</a> 
              {{productSearch.selectedProductAvail.weight}}-{{productSearch.selectedProductAvail.weightUnit}}-{{productSearch.selectedProductAvail.price}}
            </div>
        </mat-option>
      </ng-container>
      </mat-autocomplete>




      
   
<div id="menu">
  <ul>

     <li><a href="#" (mouseenter)="mouse_event()" >SHOP BY CATEGORY</a>
     
                <ul>
                       <li *ngFor='let category of categoryList'  (mouseenter)="mouse_event_sub(category.id)">
                     
                        <a  [routerLink]="['/product/cat']" [queryParams]="{catId: category.id}" (click)='resetFilter()' >{{category.name}}</a>
         <ul>
                    <li *ngFor='let subcategory of subCategoryList'><a  (click)='resetFilter()' [routerLink]="['/product/cat']" [queryParams]="{ catId: category.id,subId:subcategory.id}" >{{subcategory.name}}</a></li>
                   
         </ul>
   
    </li>
  </ul>               
</ul>


</div>

           
    


            <div class="cartdiv" (mouseover)="displayCart()">
              
              <div class="material-icons" id="material-icons-id" style="font-size:25px;color:red">brightness_1
              
              </div>
             
  
              
              <div class="cart-count" id="cart-count-id">{{bucketView?.totalItemCount}}</div>
             <div class="imageCart">
              <img src="images\images.png" alt="Avatar" class="cart">
            </div>
              <div *ngIf ="bucketView?.totalItemCount>0 then bucketitems; else emptybucket ">
              </div>
             <ng-template #bucketitems>
                      <div class="tooltiptext">
             
                            
                          <table *ngIf = "bucketView?.productFullInfoBucketMap !=undefined" >
                            <tr  *ngFor="let tdx of bucketView?.productFullInfoBucketMap?.values()" >
                                <th>{{tdx.name}}</th>&nbsp;
                                <th>{{tdx.brand}}</th>
                               
                                &nbsp;
                              <th>
                                {{tdx.weight+'-'+tdx.weightUnit+' Rs '+tdx.price}}
                              </th>
                              
                              <th>&nbsp;Qty:
                                  <input type="button"  style= "width:15%;text-align:center" value="-" (click)="subQty(tdx.prodAvailId,1)"/>    
                                <input type="text" name="tdx.selectedItemCount"  [(ngModel)]="tdx.selectedItemCount"  style= "width:15%;text-align:center" (focusout)="updateItemCount(tdx.prodAvailId,tdx.selectedItemCount)" disabled/>    
                                <input type="button"  style= "width:15%;text-align:center" value="+" (click)="addQty(tdx.prodAvailId ,1)"/>  
                              </th>  
                              
                                 
                             <a  (click)="removeFromBucket(tdx.prodAvailId);">
                              <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        
                        </tr>
                       
                       
                      </table>
                        <div *ngIf = "bucketView?.totalPrice>0">
                          
                          Total Price {{bucketView?.totalPrice}}  
        
                        </div>
                        <input type="button"  style= "width:15%;text-align:center" value="CheckOut" (click)="displayBucket()"/>  
                      </div>
                </ng-template>
                <ng-template #emptybucket>
                  <div class="tooltiptext" style="text-align:center;width:300px;height:50px">
                   No Item in the Cart.Let's shop now   
                  </div>
                </ng-template>
              
               
         
            
</div>
