/*CSS Document*/
*
{

    margin:0px;
	padding:0px;
	}
#menu ul{
	list-style:none;
	z-index: 2;
<<<<<<< HEAD
	
=======
>>>>>>> 2d12be6c09d3a33817f2708712d8dee53af4bbc0
}

#menu ul li
{
	background-color:#f1f1f1;
	border:ridge  0.5px  grey;
	width:250px;
	height:35px;
	line-height:35px;
	text-align:center;
	position:relative;
	
	
}

#menu ul li a
{
	
	text-decoration:none;
	color:black;
	Display:block;


}

#menu ul li a:hover
{
background-color:tan;
border: none;

}
#menu ul ul 
{
top:30px;	
position:absolute;
display:none;


}
#menu ul li:hover > ul
{
display:block;


}
#menu ul ul ul
{
margin-left:250px;
top:0px;
z-index: 1;

}






*{
	font-family : Arial;
  }
  
  * {
	box-sizing: border-box;
  }
  .search
  {

margin-top:10px;

  }



  form.example input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
  }
  
  form.example button {
	float: left;
	width: 20%;
	padding: 10px;
	background:limegreen;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	
	cursor: pointer;
  }
  
  form.example button:hover {
	background: seagreen;
  }
  
  form.example::after {
	content: "";
	clear: both;
	display: table;
  }


	.cartdiv {
		top:0px;
		float: right;
	 
		display: inline-block;
	}
	
	.cartdiv:hover  {
		visibility: visible;
		 display: inline-block;
	}
	
	
	.cartdiv:hover .tooltiptext {
		visibility: visible;
		 display: inline-block;
		 
			 
	 
	}
	
	.tooltiptext:hover  {
		visibility: visible;
		 display: inline-block;
	}
	.tooltiptext ,table.tooltip{
		top:105px;
		visibility: hidden;
	 
		border: 1px solid black;
		box-shadow: 0 0 0 8px grey;
		position:absolute;
		width: 350px;
		height:auto;
		z-index: 2;
		right:150px;
		padding: 5px 0;
		border-style: solid;
		background-color: white;
		
		
			
			-webkit-transition-delay: .30s; 
		 
				
		 
		
		
		
		
	}
	
	
	.cart
	{
	top:45px;
	right:135px;	
	position:absolute;
	width:50px;	
	}
	.material-icons,.cart-count {
	 top:25px;
	right:110px;	
	position:absolute;
	width:50px;
	}
	.cart-count
	{
	top:25px;
	right:102px;
	color:black;
	font-weight:bold;
	}
	