/*CSS Document*/
*
{
    margin:0px;
	padding:0px;
	}
#menu ul{
	list-style:none;
	
}

#menu ul li
{
	background-color:green;
	border:1px solid white;
	width:250px;
	height:35px;
	line-height:35px;
	text-align:center;
	position:relative;
}

#menu ul li a
{
	
	text-decoration:none;
	color:white;
	Display:block;

}

#menu ul li a:hover
{
background-color:red;

}
#menu ul ul 
{
position:absolute;
display:none;
}
#menu ul li:hover > ul
{
display:block;
margin-left:250px;
top:0px;
}



