
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    
<ng-template #userLoggedIn>{{customerName}}
  <a id="logout" href="javascript:void(0)" (click)="logout()">Logout</a>
</ng-template>

<ng-template #userNotLoggedIn>
  <a id="signUp" [routerLink]="['/user','signUp']"  >Sign Up</a>
<a id="signIn" [routerLink]="['/user','signIn']"  >Sign In</a>
</ng-template>

<div  class="pass">
  <div *ngIf="customerName!==null then userLoggedIn ;else userNotLoggedIn"> 
 
     </div>
 
</div>

<!-- The form -->
<div class="search">
<form class="example" #regForm='ngForm' (ngSubmit)="searchProduct(regForm)" style="margin:auto;max-width:600px">
  <input type="text" placeholder="Search.." name="search" autocomplete="off" ngModel>
  <button type="submit" ><div class="fa fa-search"></div></button>
</form>
</div>
<div id="menu">
  <ul>

     <li><a href="#" (mouseenter)="mouse_event()" >SHOP BY CATEGORY</a>
     
                <ul>
                       <li *ngFor='let category of categoryList'  (mouseenter)="mouse_event_sub(category.id)">
                     
                        <a  href="javascript:void(0)" (click)='resetFilter()' >{{category.name}}</a>
         <ul>
                    <li *ngFor='let subcategory of subCategoryList'><a  (click)='resetFilter()' [routerLink]="['/product/cat',category.id,'sub',subcategory.id]" >{{subcategory.name}}</a></li>
                   
         </ul>
   
    </li>
  </ul>               
</ul>


</div>

           
    


            <div class="cartdiv" (mouseover)="displayCart()">
              
              <div class="material-icons" id="material-icons-id" style="font-size:25px;color:red">brightness_1
              
              </div>
             
  
              
              <div class="cart-count" id="cart-count-id">{{bucketView?.totalItemCount}}</div>
             <div class="imageCart">
              <img src="images\images.png" alt="Avatar" class="cart">
            </div>
              <div *ngIf ="bucketView?.totalItemCount>0 then bucketitems; else emptybucket ">
              </div>
             <ng-template #bucketitems>
                      <div class="tooltiptext">
             
                            
                          <table *ngIf = "bucketView?.productFullInfoBucketMap !=undefined" >
                            <tr  *ngFor="let tdx of bucketView?.productFullInfoBucketMap?.values()" >
                                <th>{{tdx.name}}</th>&nbsp;
                                <th>{{tdx.brand}}</th>
                               
                                &nbsp;
                              <th>
                                {{tdx.weight+'-'+tdx.weightUnit+' Rs '+tdx.price}}
                              </th>
                              
                              <th>&nbsp;Qty:
                                  <input type="button"  style= "width:15%;text-align:center" value="-" (click)="subQty(tdx.prodAvailId,tdx.selectedItemCount)"/>    
                                <input type="text" name="tdx.selectedItemCount"  [(ngModel)]="tdx.selectedItemCount"  style= "width:15%;text-align:center" (focusout)="updateItemCount(tdx.prodAvailId,tdx.selectedItemCount)" />    
                                <input type="button"  style= "width:15%;text-align:center" value="+" (click)="addQty(tdx.prodAvailId,tdx.selectedItemCount)"/>  
                              </th>  
                              
                                 
                             <a  (click)="removeFromBucket(tdx.prodAvailId);">
                              <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        
                        </tr>
                       
                       
                      </table>
                        <div *ngIf = "bucketView?.totalPrice>0">
                          
                          Total Price {{bucketView?.totalPrice}}  
        
                        </div>
                        <input type="button"  style= "width:15%;text-align:center" value="CheckOut" (click)="displayBucket()"/>  
                      </div>
                </ng-template>
                <ng-template #emptybucket>
                  <div class="tooltiptext" style="text-align:center;width:300px;height:50px">
                   No Item in the Cart.Let's shop now   
                  </div>
                </ng-template>
              
               
              
            
              </div>
        