
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="filterComp">
  
<div class="row">
    
    <div class="column" > 
        
        <h1>Category</h1>
     
        <hr class="new0">
       
        <div  *ngFor='let category of category'>
         {{category?.name}}
          
            <br>
        <div  *ngFor='let subcategory of category?.subCategory' >
        
         
         <a   [routerLink]="['/product/cat',category?.id,'sub',subcategory?.id]" (click)=" handleSubCategoryUrl(category.id,subcategory.id)">
        {{subcategory?.name}}
          </a>
         
         </div>
        </div>
  </div>
 
</div>


<div class="row1" id="filter">
  
    <h2>Brand</h2>
    <hr class="new1">
    <div class="head">
      
  <form class="example"   style="margin:auto;max-width:600px">
    <input type="text" placeholder="Search.."  [ngModel]="search" (input)="filterBrand($event)" name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
        </div>

  <div class="brand" >
  

  <div *ngFor='let brand of brandFilters'>
     
      <a href="#"><input type="checkbox" class="brandname"  (change)="handleBrand($event,brand)" [checked]=brand.flag>
   {{brand.brandName}}
      </a>
        </div>
        </div>
 
 <h3>Price</h3>
 
 <hr class="new2">
 <div *ngFor='let priceFilter of filterMetaData?.priceFilters'>
 <a href="#"><input type="checkbox" class="pricename"  (change)="handlePrice($event,priceFilter)"   [name]="pricename" [checked]=priceFilter.flag>
{{priceFilter.v1}}Rs-{{priceFilter.v2}}Rs
</a>
 </div>
 

<h4>Pack Size</h4>
<hr class="new3">

<div class="head1">
  <form class="example" action="">
    <input type="text" placeholder="Search.." name="search2">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  </div>

<div class="pack-size" >
 
<div *ngFor='let weightFilter of filterMetaData?.weightFilters'>
  
  <a href="#" ><input type="checkbox" class="weightname"  (change)="handleWeight($event,weightFilter)" [checked]=weightFilter.flag>
    {{weightFilter.v1}}{{weightFilter.u1}}-{{weightFilter.v2}}{{weightFilter.u2}}
  </a>
  
</div>
   

</div>
    
    
</div>

</div>

