
.hasUser{
    
	margin-top:0em;
	margin-left: 75em;
	-webkit-animation: fadein 0s; /* Safari, Chrome and Opera > 12.1 */
	animation: fadein  0.5s;
}

.noUser{
    
	margin-top:0em;
	margin-left: 75em;
	-webkit-animation: fadein 0s; /* Safari, Chrome and Opera > 12.1 */
	animation: fadein  0.5s;
}

a{
	cursor: pointer;
}
#signIn{
    margin-left:1em;
}