
div.gallery {
    margin: 5px;
    border: 2px solid green;
    float: center;
    width:300px;
    padding:50px;
    
   
  }
  div.gallery:hover {
    border: 2px solid red;
    background-color:light gray;
  }
  
  div.gallery img {
    width:40%;
    height: 20%;
    margin-top:0px;
    align:center
  }
  
  div.desc {
    padding: 5px;
    text-align: center;
    margin-left:20px;
    font-size:15px;
    text-decoration:underline;
    top:200px;
    
  }
  

  mat-grid-tile {
    background: lightblue;
 }
 



 * {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}