
div.gallery {
    margin: 5px;
    border: 2px solid green;
    float: center;
    width:300px;
    padding:50px;
    
   
  }
  div.gallery:hover {
    border: 2px solid red;
    background-color:light gray;
  }
  
  div.gallery img {
    width: 100%;
    height: 20%;
    margin-top:0px;
    align:center
  }
  
  div.desc {
    padding: 5px;
    text-align: center;
    margin-left:20px;
    font-size:15px;
    text-decoration:underline;
    top:200px;
    
  }
  
 



  