

   

  
<table>
<tr >
    <td *ngFor="let prod of productList" >
    <div class="gallery" id="soapId" > 
    <div class="desc">{{prod.name}}</div>
   
 <img src="images\1200370.jpg" alt="apples.jpg" width="200" height="200">
 <div>

  <select  name="quantity" [(ngModel)]="prod.selectedProductAvail">
    <option *ngFor='let prod1 of prod.productAvailList'>{{prod1.weight+'-'+prod1.weightUnit+' Rs '+prod1.price}}</option>
  
       </select>

       <div *ngIf ="productSelectViewMap?.get(prod.code)?.itemCount>0" >

        Item Added To Cart :{{productSelectViewMap.get(prod.code).itemCount}}
        
        
        </div>


<br>
Quantity
<br>
<select  name="quantity" [(ngModel)]="prod.selectedQuantity">
  <option *ngFor='let prod of prod.quantityList'>{{prod}}</option>

     </select>
   
{{prod.code}}

<br><br>

<button type="submit" class="btn btn-success" (click)="addToCart(prod.code,prod.selectedQuantity,prod.selectedProductAvail)" >Add To Cart</button>
<br><br>
<button type="submit" class="btn btn-success" (click)="removeFromCart(prod.code,prod.selectedQuantity)">Remove From Cart</button>
  </div>
 


 
 </div>
</td>


 </tr>

</table>

 



