<div id="productDiv" *ngFor='let product of productList'>
    <a  [routerLink]="['/single-product-view',product.code]">{{product.name}}</a>

{{product.price}}
{{product.weight}} {{product.weightUnit}}
</div>

   
    

<th><div class="gallery" id="soapId">
    <div class="desc">Soap</div>
    
 <img src="images\1200370.jpg" alt="apples.jpg" width="250" height="200">
 <div>
 <select>
  &nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp; <option >&nbsp;&nbsp;&nbsp;&nbsp;4pcs-500g Rs 75 &nbsp;&nbsp;&nbsp;&nbsp;</option>
   <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1kg Rs 150 &nbsp;&nbsp;&nbsp;</option>
          
 </select>    
  </div>
 
   <div id="demo1" ><input type="submit" value="ADD" ></div>
 
 <div id="demo2" class="countIncrease"><input type="submit"  value="+"/>
 <input type="button" id='count' value="1" class="center" />
 <input type="submit"  (click)="removeFromCart('soapId','count')" value="-"/>
 </div>
 </div>
 </th>
  
 
 
 
 

 
 