
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
   <div class="clos">
      <i  class="fa fa-times-thin fa-2x" (click)="close()"  ></i>
   </div>
<div class="sign">
   
<a href="javascript:void(0)" (click)="changeForm('signUp')" class="Up">Sign Up</a>
         <a href="javascript:void(0)" (click)="changeForm('signIn')" class="In">Sign In</a><br>
        <div class="social">
         <a href="javascript:void(0)" (click)="faceBookLogin()"  class="facebook"> <img  alt="W3Schools" src="images/facebook.jpeg" width="25" height="25" ></a>
        
         <a href="javascript:void(0)" (click)="googleLogin()"    class="google">
           <img  alt="W3Schools" src="images/google.jpeg" width="25" height="25" ></a>
        </div>
</div>
<div id="signUpId" class="formClass">
 <form  [formGroup]="signUpForm" (ngSubmit)="onSignUp(signUpForm)">
           
    <mat-form-field class="mat-form-field ">
        <input matInput  placeholder="Your Name" 
        formControlName="name" autocomplete="mobile" >
        <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
     </mat-form-field>
       
     <mat-form-field>
        <input matInput placeholder="Mobile" 
        formControlName="mobile" autocomplete="mobile">
        </mat-form-field>

        <mat-form-field>
           <input matInput placeholder="Email" 
           formControlName="email" autocomplete="mobile">
           <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
           <mat-error *ngIf="hasError('email', 'email')">Please enter valid email</mat-error>
        </mat-form-field>

        <mat-form-field>
           <input matInput placeholder="Password" 
           formControlName="password" autocomplete="off">
        </mat-form-field>

        <div class="submit">
         <button type="submit" [disabled]="!signUpForm.valid"  mat-raised-button   color="primary">Sign Up</button>
        </div>
        
   </form> 
     
</div>

<div id="signInId" class="formClass">
   <form  [formGroup]="signInForm" (ngSubmit)="onSignIn(signInForm)">
              
       <mat-form-field>
          <input matInput placeholder="Email/Mobile" 
          formControlName="mobileOrEmail" autocomplete="mobile">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Password" 
            formControlName="password" autocomplete="off">
         </mat-form-field>
         
        <div class="submit">
         <button type="submit" [disabled]="!signInForm.valid"  mat-raised-button   color="primary">Sign In</button>
        </div>
     </form> 
       
  </div>


</body>